* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  background-color: black;
}

.projects img {
  height: 250px;
  width: 250px;
}

nav {
  /* position: fixed; */
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-color: #3D0000;
  height: 60px;
  padding-left: 50px;
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-links a {
  color: white;
}

.active-nav {
  height: 3px;
  background-color: #FF0000;
  border-radius: 1em;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 75px;
  color: white;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.image img {
  display: block;
  width: 50%;
}


.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  gap: 50px 100px;
  color: white;
  width: fit-content;
  border-radius: 25px;
}

.drum {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  text-align: center;
}


.inquizable {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  text-align: center;
}

.space {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  text-align: center;
}

.meme {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  text-align: center;
}

.drum-info {
  font-size: 16px;
}

.project-head {
  font-size: x-large;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.bio-head {
  font-size: xx-large;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.bio-statement {
  text-align: center;
  width: 50%;
  margin: 25px auto;
}

.web-dev-p {
  margin-top: 25px;
  margin-bottom: 50px;
}

.skills {
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.skills-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
}

.skills-heading {
  display: flex;
  justify-content: center;
  padding-bottom: .6rem;
  font-size: x-large;
}

.skill-1 {
  border-style: solid;
  border-color: rgb(30, 27, 192);
  border-radius: .5rem;
  background-color: rgb(30, 27, 192);
}

.skill-2 {
  border-style: solid;
  border-color: rgb(226, 178, 18);
  border-radius: .5rem;
  background-color: rgb(226, 178, 18);
}

.skill-3 {
  border-style: solid;
  border-color: rgb(40, 127, 63);
  border-radius: .5rem;
  background-color: rgb(40, 127, 63);
}

.skill-4 {
  border-style: solid;
  border-color: rgb(8, 137, 142);
  border-radius: .5rem;
  background-color: rgb(8, 137, 142);
}

.skill-5 {
  border-style: solid;
  border-color: rgb(35, 15, 151);
  border-radius: .5rem;
  background-color: rgb(35, 15, 151);
}

.skill-6 {
  border-style: solid;
  border-color: rgb(176, 203, 42);
  border-radius: .5rem;
  background-color: rgb(176, 203, 42);
}

.skill-7 {
  border-style: solid;
  border-color: rgb(213, 144, 32);
  border-radius: .5rem;
  background-color: rgb(213, 144, 32);
}

.skill-8 {
  border-style: solid;
  border-color: rgb(225, 119, 27);
  border-radius: .5rem;
  background-color: rgb(225, 119, 27);
}

.skill-9 {
  border-style: solid;
  border-color: rgb(17, 209, 59);
  border-radius: .5rem;
  background-color: rgb(17, 209, 59);
}

.skill-10 {
  border-style: solid;
  border-color: rgb(49, 42, 180);
  border-radius: .5rem;
  background-color: rgb(49, 42, 180);
}

.skill-11 {
  border-style: solid;
  border-color: rgb(42, 180, 104);
  border-radius: .5rem;
  background-color: rgb(42, 180, 104);
}

.skill-12 {
  border-style: solid;
  border-color: rgb(193, 206, 75);
  border-radius: .5rem;
  background-color: rgb(193, 206, 75);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3D0000;
  color: white;
  text-align: center;
}

.contact-heading {
  text-align: center;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  color: black;
}

.container {
  border-radius: 5px;
  margin: 25px auto 35px auto;
  background-color: #6a6666;
  padding: 20px;
  width: 50%;
}

h3 {
  font-size: x-large;
  color: white;
}

h2 {
  margin-bottom: 15px;
  color: white;
}

p {
  color: white;
}

form {
  color: black;
}

li {
  color: white;
}

section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  margin: 10rem 5rem;
  position: relative;
}


.card {
  height: 15rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6a6666;
  grid-column: span 3;
  font-size: 1.2rem;
  padding: 5rem;
  box-shadow: 0.7rem 0.7rem 0 #3D0000;
  border: 4px solid #3D0000;
  gap: 2rem;
}

.card p {
  line-height: 2rem;
  display: none;
}

.card.active p {
  display: block;
}

.card.active {
  grid-column: 1 / span 6;
  grid-row: 1;
  order: 0;
  height: auto;
}

.card.is-inactive {
  grid-column: span 2;
  grid-row: 2;
}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  height: 250px;
}

.inner-skew {
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #4e0606;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: white;
  font-size: 18px;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50%;
  margin: 0 auto;
}

.box a {
  margin: auto;
}